*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: montserrat;
}

#login-section{
    background-color: grey;
    padding-bottom: 100px;
}

.login-form{
    width: 80%;
    background: white;
    height: 100%;
    padding: 80px 40px;
    border-radius: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    h1{
        text-align: center;
        margin-bottom: 60px;
    }


.text-container{
    background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
    background-size: 100% 2px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    input{
        position: relative;
        font-size: 15px;
        color: #333;
        border: none;
        width: 100%;
        outline: none;
        height: 40px;
        padding-left: 5px;
    }
}

.logbtn{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.logbtn:hover{
    background-position: right;
}

.bottom-text{
    margin-top:  60px;
    text-align: center;
    font-size: 15px;
}
}
